body {
    margin: 58px 0 0 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-135deg, teal, #1d2d86);
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

.imgAndInfoContainer:focus, .bandMemberImgContainer:focus, .bandMemberInfoContainer:focus {
    outline: none !important;
}

code {
    font-family: Roboto,
        monospace;
}

/* nav container */
.topNav {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    z-index: 200;
    background: #222327;
}

/* nav elements */
.about, .home, .media, .merch {
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.homePageContainer {
    height: calc(100vh - 68px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.aboutPageContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.aboutPage {
    width: 90vw;
}

.instrumentImgContainer img {
    height: 100px;
    padding-bottom: 15px;
}

.bellflowerLogo {
    filter: invert(100);
    width: 70%;
    min-width: 330px;
    max-width: 670px;
}

.instrumentName {
    padding: 20px 0 15px 0;
}

.bandDescription p {
    width: 100%;
    color: #e0e0e0;
    line-height: 22px;
    margin: 15px 0 0 0;
    font-size: 24px;
}

.aboutPage .aboutBand {
    margin: 30px 0;
    color: #222327;
    background: transparent !important;
}

.aboutPage .aboutBand .title {
    font-size: 20px;
    padding: 15px;
    color: #e0e0e0;
}

.aboutPage .aboutBand .description {
    font-size: 16px;
    padding: 15px;
    text-align: justify;
    color: #e0e0e0;
}

.smallLogo {
    height: 34px;
    width: 34px;
    margin-left: 5px;
    opacity: .85;
}

.smallLogo img {
    height: 100%;
    width: auto;
}

.instrumentsContainer {
    padding: 10px 15px;
}

.instrumentGrid {
    height: auto;
}

.aboutPage .instrumentName, .aboutPage .musician {
    color: #e0e0e0 !important;
}

.aboutPage .card {
    margin: 30px 0;
}

.aboutPage .card:hover {
    filter: drop-shadow(0px 2px 2px #e0e0e0);
    cursor: pointer;
}

.aboutPage .bandPhotoContainer {
    background: url(http://bellflowerband.com/desktopPortraitGroup.jpg);
    background-size: cover;
    height: 420px;
    width: 100vw;
    position: relative;
    background-position: center;
    opacity: 0.5;
    right: 5.6%;
}

.imgAndInfoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    width: 80vw;
    margin: 0 auto;
    /* background: #e0e0e0; */
    background: linear-gradient(-90deg, #b32539, #801335);
    filter: drop-shadow(1px 1px 2px black);
}

.bandMemberImgContainer {
    margin: 30px 15px 30px 30px;
    width: 60%;
}

.bandMemberImgContainer img {
    object-fit: cover;
    position: relative;
    width: 100%;
    filter: drop-shadow(1px 1px 2px black);
    opacity: .67;
}

.bandMemberInfoContainer {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 30px 30px 30px 15px;
    height: 100%;
    color: #222327;
    font-family: sans-serif;
}

.bandMemberInfoContainer h4 {
    text-transform: uppercase !important;
}

.footer {
    box-sizing: border-box;
    height: 300px;
    padding: 5px 15px;
    background: #222327;
    margin-top: 40px;
}

@media only screen and (width < 900px) {
    .imgAndInfoContainer {
        flex-direction: column;
        max-height: 80vh;
        width: 85vw;
        min-height: 450px;
    }

    .bandMemberInfoContainer {
        width: 90%;
        margin: 20px;
        justify-content: flex-start;
        height: 60%;
        overflow-y: scroll;
    }

    .bandMemberInfoContainer p {
        font-size: 18px;
    }

    .bandMemberInfoContainer h4 {
        margin: 10px 0;
    }

    .bandMemberImgContainer {
        filter: drop-shadow(1px 1px 2px black);
        width: 100%;
        height: 40%;
        margin: 0;
        overflow: hidden;
    }

    .bandMemberImgContainer img {
        width: calc(100% - 40px);
        margin: 20px 20px 0 20px;
        -o-object-fit: contain;
        object-fit: contain;
    }
}
