body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-135deg, teal, #1d2d86);
    height: 100vh;
    width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
}

code {
    font-family: Roboto,
        monospace;
}

.topNav {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.about, .home, .media, .merch {
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.homePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePageContainer {
    width: 90vw;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;
}
.aboutContainer {
    padding: 10px 15px;
}

.bellflowerLogo {
    filter: invert(100);
    width: 70%;
    min-width: 330px;
    max-width: 670px;
}

.bandDescription p {
    width: 100%;
    color: white;
    line-height: 22px;
    margin: 15px 0 0 0;
    /* font-size: calc(16px + 6 * ((100vw - 400px) / 380)); */
    font-size: 24px;
}

.smallLogo {
    height: 34px;
    width: 34px;
    margin-left: 5px;
}

.smallLogo img {
    height: 100%;
    width: auto;
}
.instrumentsContainer {
    padding: 10px 15px;
}
.footer {
    box-sizing: border-box;
    height: 300px;
    padding: 10px 15px;
    background: #222227;
}

/* .menuGradient>div>ul {
    background: linear-gradient(90deg, teal, #4058af)!important;
} */
