body {
    margin: 58px 0 0 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-135deg, teal, #1d2d86);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none;
}

code {
    font-family: Roboto,
        monospace;
}
/* nav container */
.topNav {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    z-index: 200;

}
/* nav elements */
.about, .home, .media, .merch {
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.homePageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homePage {
    width: 90vw;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;
}
.aboutPageContainer {
    width:100vw;
    display: flex;
    justify-content: center;
}
.aboutPage {
    width: 90vw;
}

.instrumentImgContainer img {
    height: 100px;
    padding-bottom: 15px;
}

.bellflowerLogo {
    filter: invert(100);
    width: 70%;
    min-width: 330px;
    max-width: 670px;
}
.instrumentName {
    padding: 20px 0 15px 0;
}
.bandDescription p {
    width: 100%;
    color: white;
    line-height: 22px;
    margin: 15px 0 0 0;
    font-size: 24px;
}
.aboutPage .aboutBand {
    margin: 30px 0;
    color: #222227;
}
.aboutPage .aboutBand .title {
    padding: 15px;
}
.aboutPage .aboutBand .description {
    padding: 15px;
    text-align: left;
}
.smallLogo {
    height: 34px;
    width: 34px;
    margin-left: 5px;
}

.smallLogo img {
    height: 100%;
    width: auto;
}

.instrumentsContainer {
    padding: 10px 15px;
}
.aboutPage .instrumentName, .aboutPage  .musician {
    color: white!important;
}
.footer {
    box-sizing: border-box;
    height: 300px;
    padding: 5px 15px;
    background: #222227;
}
